    <div class="cart-container">
        <div class="products-container">
            <h1 class="products-header">Shopping Cart</h1>
            <div class="cart-product">
                <div class="cart-product__card">
                    <img class="cart-product__img" src="download (1).jpg" alt="photo">
                    <div class="cart-product_details">
                        <p class="cart-product__name">T-Shirt</p>
                        <p class="cart-product__price">$29.99</p>
                    </div>
                </div>
                <i class="cart-product__delete ri-delete-bin-5-line"></i>
            </div>    
        </div>
        <div class="checkout-container">
            <div class="checkout-total_price">
                <p class="checkout-pragraph">Total</p>
                <p class="checkout-pragraph">$99.97</p>
            </div>
            <button class="checkout-btn">Proceed to checkout</button>
        </div>
    </div>