<section class="form-container">
    <div class="welcome-section">
      <img src="assets/imgs/welcome-img.png" alt="" class="welcome-img">
      <p class="welcome-title">welcome!</p>
      <p class="welcome-description">discover your favourite item.</p>
    </div>
    <form class="login-form" action="" method="post"
    (submit)="register()"
    #registerForm="ngForm">
      <ul class="login-status">
        <li class="login-statue" routerLink="/Login">login</li>
        <li class="login-statue">register</li>
      </ul>
      <div class="form-group">
        <input type="text" class="form-input" 
        #usernameInp="ngModel"
        placeholder="username" name="username" [(ngModel)]="user.userName"
        required
        pattern="^[a-zA-Z0-9_]{3,16}$"
        >
        @if(usernameInp.invalid && usernameInp.touched){
          <div class="validation">
            @if(usernameInp.errors?.['required']){
              <p>Username is required</p> 
            } 
            @if(usernameInp.errors?.['pattern']){
              <p>Username is invalid</p> 
            }         
          </div>
        }
      </div>
      <div class="form-group">
        <input type="email" class="form-input" placeholder="e-mail" 
        name="email" [(ngModel)]="user.email"
        required
        pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
        #emailInp="ngModel"
        >
        @if(emailInp.invalid && emailInp.touched){
          <div class="validation">
            @if(emailInp.errors?.['required']){
              <p>email is required</p>
            }
            @if(emailInp.errors?.['pattern']){
              <p>email is invalid</p>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <input type="password" class="form-input" id="password-input" placeholder="password"
        #PasswordInp="ngModel"
        required
        pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&]).{6,}$"
        name="password" 
        [(ngModel)]="user.password"
        >
        @if(PasswordInp.invalid && PasswordInp.touched){
          <div class="validation">
            @if(PasswordInp.errors?.['required']){
              <p>Password is required</p>
            }
            @if(PasswordInp.errors?.['pattern']){
              <p>Password is invalid</p>
            }
            
          </div>
        }
      </div>
      <div class="form-group">
        <input type="password" class="form-input" id="password-input-confirm"
        placeholder="confirm-password"
        #confirmInp="ngModel"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        >
        
        @if(confirmInp.invalid && confirmInp.touched){
          <div class="validation">
            @if(confirmInp.errors?.['required']){
              <p>You must re-type password</p>
            }
            @if(confirmInp.value != PasswordInp.value){
              <p>Password and confirm password do not match.</p>
            }
          </div>
        }
      </div>
      <!-- <input value="register" type="submit" class="form-btn"> -->
      <div class="validation">
        {{errorMessages}}
      </div>
      <button type="submit" class="form-btn" 
      [disabled]="registerForm.invalid || (PasswordInp.value != confirmInp.value)">register</button>
    </form>

  </section>