<footer class="footer">
    <div class="footer-cta__container">
      <span class="cta__items">about us</span>
      <span class="cta__items">privacy policy</span>
      <span class="cta__items">contact us</span>
    </div>
    <div class="footer-social__container">
      <a href="">
        <i class="ri-facebook-circle-fill social-icon"></i>
      </a>
      <a href="">
        <i class="ri-instagram-fill social-icon"></i>
      </a>
      <a href="">
        <i class="ri-linkedin-box-fill social-icon"></i>
      </a>
    </div>
    <p class="footer-copyrights">
      <span class="cpy-icon">&copy;</span> all rights reserved.
    </p>
  </footer>